@import "../../../../sass/helper";

.user {
  flex-basis: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;

  @include tablet {
    flex-basis: calc(50% - 16px);
  }

  @include desktop {
    flex-basis: calc(100% / 3 - 25px);
  }
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.info {
  &:first-of-type {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(26/16);
  white-space: wrap;
  max-width: 100%;
}