@import "../../sass/helper";

.container {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    max-width: 600px;
  }

  @include tablet {
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1170px;
  }
}
